<div class="row">
    <!-- header part -->
    <div class="col-xs-12 col-md-12 btn-back">
        <a href="#/generateForMobile" class="pull-right">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;Back
        </a>
    </div>
</div>

<div class="loginbox" style="padding-left:15%">
    <div class="panel panel-info panel-info-filename">
        <div class="panel-heading">
            <div class="panel-title">Manual Testcase For Web</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="survey-name-form" role="form" ng-submit="">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">Testcase Name: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="testcaseName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <a style="width:77%" class="btn btn-default" ng-click="createNewTestcase(testcaseName)">Submit</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>