<div class="loginbox" style="padding-left:15%">
    <div class="panel panel-info panel-info-filename">
        <div class="panel-heading">
            <div class="panel-title">Generate Testcases For Web</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="survey-name-form" role="form" ng-submit="">
                <div class="form-group text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="autoGenerate()">Auto Generate</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="manualGenerate()">Manual Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>